.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: center;
  align-items: center;
  color: white;
}

.main-container-inputs {
  display: flex;
  justify-content: center;
}

.container-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

#salario-bruto, #horas-dia, #dias-mes {
  padding: 5px 12px 1px 15px;
}