.beneficios-container {
  margin-top: 15px;
}

.beneficios-container h4 {
  margin-left: 0px;
  text-align: center;
}

.beneficios-container h6 {
  margin-left: 0px;
  text-align: center;
}

.tempo-container h4 {
  margin-left: 0px;
  text-align: center;
}

.dinheiro-container h4 {
  margin-left: 170px;
  text-align: center;
}