.resultados {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 600px;
}

.beneficios {
  margin-top: 20px;
}

.salario-total {
  margin-top: 0px;
}

.beneficios-dinheiro {
  margin-top: 20px;
}